*{
    font-family: 'Geologica', sans-serif;
}

html{
    font-size: 18px;
}

:root{
    --bg-main: #f9f6f1;
    --green: #10ad89;
    --red: #f32c29;
}

body{
    background-color: var(--bg-main);
}

p, ul li{
    color: gray;
}

img{
    max-width: 100%;
}

/* main content */

#main-content ul li{
    line-height: 30px;
}

#main-content ul i.fa-circle-check{
    color: var(--green);
    font-size: 1.3rem;
    vertical-align: middle;
}

/* utils */

.debug{
    border: 2px dashed black;
}

.btn{
    padding: 20px 20px;
    background-color: black;
    color: white;
}

.btn:hover{
    background-color: black;
    color: lightgray;
}

.bg-dark{
    background-color: black;
}

.bg-main{
    background-color: var(--bg-main);
}

.text-gray{
    color: gray;
}